
// NAVBAR
header{
    display:flex;
    height:8rem;
    text-align:center;
    justify-content: space-between;

    nav{
        font-size:20px;
        width:100%;
        background-color:darkgrey;
        display: flex;
        align-items:center;
        justify-content: space-evenly;

        a{
        text-decoration:none;
        color:white;
        }
    }
}

// Top
.Top {
    width:100%;
    height:50rem;
    
    img{
        width:100%;
        Height:100%
    }
    .top_container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    h2 {
        font-size:10rem;
        padding: 1rem;
    }
    p {
        font-size:2rem;
        padding: 1rem;
    }
    button {
        width:22rem;
        height:5rem;
        margin: 1rem;
        background-color:black;
        color:lightgrey;
        border-radius: 2.5rem;
        font-size: 2rem;
    }
}
